<!-- ========================================= -->
<!-- ALL BOOKS -->
<!-- TẤT CẢ SÁCH TRONG THƯ VIỆN -->
<!-- ========================================= -->

<section class="all-books-section">

    <div class="section-header">

        <h2>
            Tất cả sách trong thư viện
        </h2>

        <p>
            Danh sách toàn bộ sách hiện có trong thư viện
        </p>

    </div>


    <!-- ===================================== -->
    <!-- DANH SÁCH BOOK -->
    <!-- ===================================== -->

    <section class="book-list">

        <h3>
            Danh sách sách
        </h3>


        <table>

            <thead>

                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Tác giả</th>
                    <th>Thể loại</th>
                    <th>Năm</th>
                </tr>

            </thead>


            <tbody id="bookTableBody">

                <!-- book.js sẽ render Book ở đây -->

            </tbody>

        </table>

    </section>

</section>