<div class="search-book-form">

    <label for="searchBookType">
        Tìm kiếm theo
    </label>

    <select id="searchBookType">

        <option value="bookCode">
            Book Code
        </option>

        <option value="title">
            Tên sách
        </option>

    </select>


    <label for="searchBookKeyword">
        Từ khóa
    </label>

    <input
        type="text"
        id="searchBookKeyword"
        placeholder="Nhập Book Code..."
    >

    <button
        type="button"
        id="btnSearchBook"
    >
        Tìm kiếm
    </button>

</div>
