<!-- ========================================= -->
<!-- SIDEBAR -->
<!-- ========================================= -->

<aside class="sidebar">

    <div class="sidebar-title">
        CHỨC NĂNG CHÍNH
    </div>


    <nav class="sidebar-menu">

        <button type="button"
                id="menuAllBooks"
                class="sidebar-item">
            Trang chủ
        </button>


        <button type="button"
                id="menuBookManagement"
                class="sidebar-item"
                style="display: none;">
            Quản lý sách
        </button>


        <button type="button"
                id="menuMemberRegistration"
                class="sidebar-item">
            Đăng ký thành viên
        </button>


        <button type="button"
                id="menuSearchBook"
                class="sidebar-item">
            Tìm kiếm sách
        </button>


        <button type="button"
                id="menuSearchBookByYear"
                class="sidebar-item">
            Tìm kiếm sách theo năm xuất bản
        </button>

        <button type="button"
                id="menuBorrowBook"
                class="sidebar-item">
            Mượn sách
        </button>


        <button type="button"
                id="menuReservation"
                class="sidebar-item">
            Đăng ký chờ mượn sách
        </button>


        <button type="button"
                id="menuReturnBook"
                class="sidebar-item">
            Trả sách
        </button>


        <button type="button"
                id="menuLoanSlip"
                class="sidebar-item">
            Phiếu mượn
        </button>


        <button type="button"
                id="menuFine"
                class="sidebar-item">
            Tra cứu tiền phạt
        </button>

    </nav>

</aside>
